<%- include("../../partials/nav-bar.ejs") %>
<h2>Login</h2>

<section>
    <form action="/auth/login" method="POST">
        <label>Username: <input type="text" name="username" value="<%=username%>"></label>
        <label>Password: <input type="password" name="password" autofocus></label>
        <button type="submit">Log In</button>
        <div>
            <a href="#" id="forgotPassword">Forgot your password?</a>
        </div>
    </form>
    <% if (errorMessage !== "") { %>
        <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
</section>