<%- include("../../partials/nav-bar.ejs") %>


<section class="alignLogin loginTitle">
    <h2 class="loginTitle">Login</h2>
    <form class="alignLogin itemTable loginTable" action="/auth/login" method="POST">
        <label class="alignLogin usernameLogin">Username<input class="cleanInput" type="text" name="username" value="<%=username%>"></label>
        <label class="alignLogin usernameLogin">Password<input class="cleanInput" type="password" name="password" autofocus></label>
        <button class="buttonItem widerButton" type="submit">Log In</button>
        <div>
            <a href="#" id="forgotPassword">Forgot your password?</a>
        </div>
    </form>
    <% if (errorMessage !== "") { %>
        <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
</section>