<%- include("../../partials/nav-bar.ejs") %>
<section class="alignLogin loginTitle" >
  <h1>Sign Up</h1>
  <form class="alignLogin itemTable signup" method="POST" action="/auth/signup" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <label for="">
      Username:
      <input class="cleanInput" type="text" name="username" value="<%=username%>" required />
    </label>

    <label for="">
      Email:
      <input class="cleanInput" type="email" name="email" value="<%=email%>" required autofocus />
    </label>

    <label for="">
      Password:
      <input class="cleanInput" type="password" name="password" required />
    </label>

    <label for="">
      Confirm password:
      <input class="cleanInput" type="password" name="Rpassword" required />
    </label>


    <button class="buttonItem widerButton" type="submit">Sign Up</button>
  </form>

  <% if (errorMessage !== "") { %>
    <div class="display-error-message centralize"><%=errorMessage%></div>
<% } %>

</section>
