<section id="firstScreenPad">
  <iframe class="backgroundFrame"  src="https://my.spline.design/untitled-deab33bcbc864260051c7119d9485f01/"></iframe> 
  <%- include("../../partials/nav-bar.ejs") %>
  
    <form method="POST" action="/auth/accountcheck">      
  
      <label for="">
        Enter Username:
        <input type="text" name="username" required autofocus />
      </label>
  
      <button type="submit">Continue</button>
    </form>
  
    <% if (errorMessage !== "") { %>
      <div class="display-error-message centralize"><%=errorMessage%></div>
  <% } %>
  
  </section>

   <img src="../images/fadeBackground.png" id="loginScreen" >