<%- include("../../partials/nav-bar.ejs") %>
<section>
  <form method="POST" action="/auth/signup">
    <h1>Sign Up</h1>

    <label for="">
      Username:
      <input type="text" name="username" value="<%=username%>" required />
    </label>

    <label for="">
      Email:
      <input type="email" name="email" value="<%=email%>" required />
    </label>

    <label for="">
      Password:
      <input type="password" name="password" required />
    </label>

    <label for="">
      Confirm password:
      <input type="password" name="Rpassword" required />
    </label>


    <button type="submit">Sign Up</button>
  </form>

  <% if (errorMessage !== "") { %>
    <div class="display-error-message centralize"><%=errorMessage%></div>
<% } %>

</section>
