<nav id="nav">
    <div>
      Logo
    </div>

    <div>
      <ul id="navList">
        <li>Profile</li>
        <li>Collections</li>
        <li>Marketplace</li>
        <li>Trading</li>
      </ul>
    </div>

    <div>
        <p><a id="btn-playnow" style="text-decoration: none" href="/auth/accountcheck"> Play Now </a></p>
    <% if (session) { %>
      <p><a id="btn-logout" style="text-decoration: none" href="/auth/logout"> Logout </a></p>
    <% } %>
    </div>
</nav>