<nav id="generalNav">
  <div id="nav">
    <div>
      Logo
    </div>

    <div>
      <ul id="navList">
        <li><p><a style="text-decoration: none" href="/"> Main Page </a></p></li>
        <% if (session) { %>          
          <% console.log("session Race:", sessionRace) %>
          <% if (sessionRace.length === 1) { %>
            <li><p><a style="text-decoration: none" href="/user/createcharacter"> Character </a></p></li>            
            <li><p><a style="text-decoration: none" href="/user/profile"> Profile </a></p></li>
            <% } %>
            
            <% if (sessionRace.length === 0) { %>              
           <li><p><a style="text-decoration: none" href="/user/characterProfile"> Character </a></p></li>            
          <% } %>
          <li>Collections</li>
          <li>Marketplace</li>
          <li>Trading</li>
        <% } %>
      </ul>
    </div>

    <div id="navRight">
    <% if (session) { %>
      <% if (sessionRace.length === 0) { %> 
        <p><a id="btn-playnow" style="text-decoration: none" href="/user/createCharacter"> Play Now </a></p>
        <% } else { %>
        <p><a id="btn-playnow" style="text-decoration: none" href="/user/game"> Play Now </a></p>
        <% } %>
        <p><a id="btn-logout" style="text-decoration: none" href="/auth/logout"> Logout </a></p>
    <% } else { %>
        <p><a id="btn-playnow" style="text-decoration: none" href="/auth/accountcheck"> Play Now </a></p>
    <% } %>
    </div>
  </div>

</nav>