<%- include("../partials/nav-bar.ejs") %>
<section id="newsSection">
    <br>
<!-- <% if (session) { %>
    <div>YOU ARE LOGGED IN</div>
<% } else { %>
    <div>YOU ARE LOGGED OUT</div>
<% } %> -->

<!-- <p class="newsTitle">News</p> -->

<div class="newsArticle">
    <iframe class="newsIframe" src="https://my.spline.design/untitled-ef19f0c9abde3c51a0934eafe60ba4d9/" width="600px" height="600px"></iframe>
    <div>
        <h1 class="articleTitle">Ahoy plants!</h1>
        <p class="articlePara">Let's talk about one of the upcoming updates, plants!<br><br>Now you will be able to grow your own little plants on your garden, be sure to water them every here and there so they grow stong and healthy!
         After your plant is fully grown you will be ablet to use it's fruit to enchant your weapons and make the ultimate monster killer. Or perhaps you are more of a salesman uhu? well why not grow plants and sell their fruits on the marketplace for a hefty price?
         <br><br>With the plant system the game will give you a bit of that farming felling that we all love so much.
        </p>
    </div>
</div>

<!-- <div class="newsArticle">
    <div>
        <h1 class="articleTitle">Ahoy plants!</h1>
        <p class="articlePara">Let's talk about one of the upcoming updates, plants!<br><br>Now you will be able to grow your own little plants on your garden, be sure to water them every here and there so they grow stong and healthy!
         After your plant is fully grown you will be ablet to use it's fruit to enchant your weapons and make the ultimate monster killer. Or perhaps you are more of a salesman uhu? well why not grow plants and sell their fruits on the marketplace for a hefty price?
         <br><br>With the plant system the game will give you a bit of that farming felling that we all love so much.
        </p>
    </div>
    <iframe class="newsIframe" src="https://my.spline.design/untitled-ef19f0c9abde3c51a0934eafe60ba4d9/" width="600px" height="600px"></iframe>
</div>

<div class="newsArticle">
    <iframe class="newsIframe" src="https://my.spline.design/untitled-ef19f0c9abde3c51a0934eafe60ba4d9/" width="600px" height="600px"></iframe>
    <div>
        <h1 class="articleTitle">Ahoy plants!</h1>
        <p class="articlePara">Let's talk about one of the upcoming updates, plants!<br><br>Now you will be able to grow your own little plants on your garden, be sure to water them every here and there so they grow stong and healthy!
         After your plant is fully grown you will be ablet to use it's fruit to enchant your weapons and make the ultimate monster killer. Or perhaps you are more of a salesman uhu? well why not grow plants and sell their fruits on the marketplace for a hefty price?
         <br><br>With the plant system the game will give you a bit of that farming felling that we all love so much.
        </p>
    </div>
</div> -->
</section>