<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <nav id="nav">
    <div>
      Logo
    </div>

    <div>
      <ul id="navList">
        <li>Profile</li>
        <li>Collections</li>
        <li>Marketplace</li>
        <li>Trading</li>
      </ul>
    </div>

    <div>
      <p><a style="text-decoration: none" href="/auth/accountcheck"> Play Now </a></p>
    </div>
  </nav>

  <body>
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
