<%- include("../../partials/nav-bar.ejs") %>
<section class="alignLogin">
    <form class="alignLogin itemTable loginTable accounttable" method="POST" action="/user/createCharacter">      
  
      <label for="">
        Choose race:
        <br>
        <select class="buttonItem widerButton ultraOnlyWideButton" name="race" required>
          <option value="Dino">Dino</option>
          <option value="Undead">Undead</option>
          <option value="Human">Human</option>
        </select>
      </label>
      <button class="buttonItem widerButton ultraOnlyWideButton" type="submit">Create</button>
    </form>
  
    <% if (errorMessage !== "") { %>
      <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
  
  </section>