<%- include("../../partials/nav-bar.ejs") %>
<section>
    <form method="POST" action="/user/createcharacter">      
  
      <label for="">
        Choose race:
        <select name="race" required>
          <option value="Dino">Dino</option>
          <option value="Undead">Undead</option>
          <option value="Human">Human</option>
        </select>
      </label>
      <button type="submit">Create</button>
    </form>
  
    <% if (errorMessage !== "") { %>
      <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
  
  </section>