<%- include("../../partials/nav-bar.ejs") %>
<h1>Game</h1>
<div id="game-board" style="display: flex; align-items: center; justify-content: center;">
    <canvas id="canvas" width="1488" height="768"></canvas>
</div>  