<section id="gameSection">
<h1>Game</h1>

<% if (session) { %> 
    <div id="sessionInProgress" style="display: block;"></div>
<% } else { %>
    <div id="sessionInProgress" style="display: none;"></div>
<% } %>

<div id="game-board" style="display: flex; align-items: center; justify-content: center;">
    <canvas id="canvas" width="1200" height="700"></canvas>
</div>  


<!-- Character -->
  <% if (session && sessionRace2.character[0].race === "Dino") { %>
   <div id="dinoSelect" style="display: block;"></div>
  <% } else { %>
    <div id="dinoSelect" style="display: none;"></div>
    <% } %>
  
  <% if (session && sessionRace2.character[0].race === "Undead") { %>
    <div id="undeadSelect" style="display: block;"></div>
    <% } else { %>
        <div id="undeadSelect" style="display: none;"></div>
        <% } %>

   <% if (session && sessionRace2.character[0].race === "Human") { %>
    <div id="humanSelect" style="display: block;"></div>
    <% } else { %>
        <div id="humanSelect" style="display: none;"></div>
        <% } %>
    

<!-- Weapons -->
    <% if (session && sessionRace2.character[0].weapon === "none") { %>
    <div id="noWeapon" style="display: block;"></div>
    <% } else { %>
        <div id="noWeapon" style="display: none;"></div>
        <% } %>

<!-- Armor -->
    <% if (session && sessionRace2.character[0].armor === "none") { %>
    <div id="noArmor" style="display: block;"></div>
    <% } else { %>
        <div id="noArmor" style="display: none;"></div>
        <% } %>

<!-- Souls -->    
<form method="POST" action="/user/<%=sessionRace2.character[0]._id%>/game">
    <% if (session) { %>       
    <input id="souls" style="display: block;" name="souls" type="number" value="<%=sessionRace2.character[0].souls%>" readonly></input>   
    <% %> 
    <% } else %></p>
    <button type="submit">Save</button>
</form>
</section>