<%- include("../../partials/nav-bar.ejs") %>

<section class="alignLogin">


<h1 style="margin-top: 00px; margin-bottom: -100px;">Profile</h1>
<div >
    <form class="alignLogin itemTable loginTable accounttable signup" style="padding-left: 50px;" action="/user/profile-update" method="POST">
        <div>Username: <input class="cleanInput" type="text" name="username" value="<%-user.username%>" /> </div>
        <div>Email: <input class="cleanInput" type="email" name="email" value="<%-user.email%>" /> </div>
        <div>Current password: <input class="cleanInput" type="password" name="Cpassword" placeholder="**********" /></div>
        <div>New password: <input class="cleanInput" type="password" name="password" placeholder="**********" /></div>
        <div>Repeat new password: <input class="cleanInput" type="password" name="Rpassword" placeholder="**********" /> </div>
        <button class="buttonItem ultraOnlyWideButton" type="submit">Change Details</button>
    </form>
    <% if (errorMessage !== "") { %>
        <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
</div>

</section>