<%- include("../../partials/nav-bar.ejs") %>
<h1>Profile</h1>

<h2>Details</h2>
<div>
    <div>Username: <%-user.username%> </div>
    <div>Email: <%-user.email%> </div>
    <form action="/user/profile-update" method="GET">
        <button type="submit">Change Details</button>
    </form>
</div>