<%- include("../../partials/nav-bar.ejs") %>
<h1>Profile</h1>

<h2>Details</h2>
<div>
    <form action="/user/profile-update" method="POST">
        <div>Username: <input type="text" name="username" value="<%-user.username%>" /> </div>
        <div>Email: <input type="email" name="email" value="<%-user.email%>" /> </div>
        <div>Current password: <input type="password" name="Cpassword" placeholder="**********" /></div>
        <div>New password: <input type="password" name="password" placeholder="**********" /></div>
        <div>Repeat new password: <input type="password" name="Rpassword" placeholder="**********" /> </div>
        <button type="submit">Change Details</button>
    </form>
    <% if (errorMessage !== "") { %>
        <div class="display-error-message centralize"><%=errorMessage%></div>
    <% } %>
</div>