body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}

#navList {
  display: flex;
  gap:30px;
  list-style: none;
}
