@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');


body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
  margin: 0;
  background: rgb(27,156,204);
background: radial-gradient(circle, rgba(27,156,204,1) 0%, rgba(31,20,17,1) 0%, rgba(0,0,0,1) 100%);
  color: rgb(238, 238, 238);
  font-family: 'ICA Rubrik', sans-serif;
}

#forgotPassword {
  color: blue
}

a {
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
}

h1 {
  color: 15px;
}
#generalNav {
  background-color:rgba(221, 190, 176, 0);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;  
  padding: 30px 50px 0px 50px;
}

.navImg a {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.301);
  box-shadow: 0 15px 0px rgb(46, 33, 29);
  border-color: rgba(204, 163, 147, 0.137);
  background-color: rgb(100, 71, 62);
  border-width: 2px;
  border-style: solid;
  border-radius: 9px;
  padding: 20px 6px 5px 6px;   
  transition: padding 0.5s, background-color 0.5s, margin 0.5s;  
}

.navImg a:hover {  
  padding: 50px 15px 5px 15px; 
  background-color: rgb(163, 134, 102);     
  margin: 30px
}

#navList {
  display: flex;
  gap:30px;
  list-style: none;
  align-items: center;
  color: white;
  font-size: 17px;
}

#navRight {
  display: flex;
  gap: 30px;
}

#gameSection {
  background-color: black;
}

#characterProfile {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.characterFrame {
  border-color: transparent;
  margin-top: -100px;  
}

#characterName {
  font-size: 150px;
  font-weight: bolder;
  text-shadow: 0 0px 10px rgb(255, 255, 255);
  color: rgb(255, 230, 224);  
  margin-top: 0;
  margin-bottom: -50px;
  margin-right: 0px;
  padding-right: 0px;
}

#characterRace {
  font-size: 30px;
  color: rgb(255, 139, 31);
  text-shadow: 0 6px black;
  margin-left: 20px;
}