body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
  margin: 0;
  background-color: black;
  color: white;
}

#forgotPassword {
  color: blue
}

a {
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
}

h1 {
  color: 15px;
}
#generalNav {
  background-color:rgb(26, 26, 26);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;  
  padding: 40px 50px 15px 50px;
}

#navList {
  display: flex;
  gap:30px;
  list-style: none;
  align-items: center;
  color: white;
  font-size: 17px;
}

#navRight {
  display: flex;
  gap: 30px;
}

#gameSection {
  background-color: black;
}

#characterProfile {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.characterFrame {
  border-color: transparent;
}