<%- include("../../partials/nav-bar.ejs") %>

<h1 class="centerText">Marketplace</h1>

<% if (character) { %>
    <div class="centerText">
        <h2>Welcome to the Marketplace, <%=sessionRace[0].username%> the <%=character.race %>!</h2>
        <h3>What is your business here today?</h3>
    </div>
    <div class="mpIndexBtnCtn">
        <form action="/marketplace/select-offer/" method="GET">
            <button class="buttonItem btnWider" type="submit">Create an offer</button>
        </form>
        <form action="/marketplace/browse-offers/" method="GET">
            <button class="buttonItem btnWider" type="submit">Browse offers</button>
        </form>
    </div>
<% } %>
