<%- include("../../partials/nav-bar.ejs") %>

<h1>Marketplace</h1>

<h1 class="centerText">Create an offer</h1>
<form action="/marketplace", method="GET">
    <button class="buttonItem btnWider" type="submit">Back</button>
</form>
<div id="marketAlign">
    <div class="selectOffer">
<%- include("../../partials/inventory-display.ejs") %>
    </div>
</div>